    <div>
        <body>
            <h1>Create a Client</h1>
            
            <p>Please fill in this form to create a client.</p>
            <hr>
            <b>Name</b>
            <br>
            <input type="text" name="name" id="fullName" placeholder="Enter Full Name">
            <br><br>
            <b>Email</b>
            <br>
            <input type="email" name="email" id="email" placeholder="john@example.com">
            <br><br>
            <b>Address</b>
            <br>
            <input type="text" name="address" id="address" placeholder="Enter Address">
            <br><br>
            <b>Password</b>
            <br>
            <input type="password" name="password" id="pwd" placeholder="minimum 6 characters">
            <br><br>
            <b>Repeat Password</b>
            <br>
            <input type="password" name="password" id="pwd" placeholder="Repeat Password">
            <hr>
            <button type="submit">Register</button>
        </body>
    </div>
  