div {
    background-color: #e5e5e5;
    padding: 15px;
}

input {
    width: auto;
    display: inline;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

button {
    width: auto;
    background-color: cornflowerblue;
    color: cornsilk;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}